.contenido-datos{
    text-align: center;
    background-color: rgb(225, 245, 245);
    height: auto;
    
    
}
.datos-vehiculo-inf{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: rgb(238, 75, 75);
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}


.label-texto{
    margin-left: 20px;
}
h2{
    font-size: 22px;
    color: rgb(32, 16, 75);
    
}

.datos-formulario{
    background-color: red;
}
.autorizar{
    font-size: 16px;
    margin-top: 5px;
    padding: 20px;
    
}
.boton-checkeo{
    width: 15px;
    height: 15px;
    margin: 10px;
}
.boton-continuar{
    width: 50%;
    background-color: blue;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 40px;

}
.formulario{
    width: 100%;
    margin: auto;
    padding: 0;
    
}
.form-campo, input{
    width: 80%;
    margin: 2px auto;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #8092d2;
    border-color: #8092d2;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: #000;
}
.formulario-texto{
    font-size: 15px;
}
@media (min-width: 600px){
    .contenido-datos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
        
    }
    .datos-vehiculo-inf{
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        margin: 7px;
        padding: 7px;
    }
    
    
    h2{
        margin-top: 10px;
        font-size: 24px;
        color: rgb(32, 16, 75);
        
    }
    
    .datos-formulario{
        background-color: red;
    }
    .autorizar{
        font-size: 14px;
        margin-top: 10px;
        padding: 15px;
        
    }
    .boton-checkeo{
        width: 20px;
        height: 20px;
        margin: 10px;
    }
    .boton-continuar{
        width: 60%;
        margin-top: 20px;
        background-color: blue;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        border-radius: 40px;
    
    }
    .formulario{
        width: 100%;
        margin: auto;
        padding: 0;
        
    }
    .form-campo, input{
        width: 90%;
        margin: 2px auto;
        align-items: center;
        padding: 5px;
        border-radius: 10px;
        border: 2px solid #8092d2;
        border-color: #8092d2;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        color: #000;
    }
    .formulario-texto{
        font-size: 15px;
    }
    
}
@media (min-width: 800px){
    .contenido-datos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
       
    }
    .datos-vehiculo-inf{
        display: flex;
        flex-wrap: wrap;
        font-size: 22px;
        justify-content: center;
        align-items: center;
    }
    
    .autorizar{
        font-size: 14px;
        margin-top: 10px;
        padding: 15px;
        
    }
    
    .boton-continuar{
        width: 60%;
        margin-top: 25px;
        font-size: 20px;
    
    }
   
    .form-campo, input{
        width: 80%;
        margin: 3px auto;
        align-items: center;
        padding: 5px;
        border-radius: 10px;
        text-transform: uppercase;
        text-align: center;
        font-size: 15px;

    }
    .formulario-texto{
        font-size: 18px;
    }
    
}

