.footer{
    background-color: #2421b8;
    height: 120px;
    width: 100%;
    margin-top: 0;
}
.footer p{
    color: white;
    font-size: 18px;
    text-align: center;
}

.footer, .marca-logo {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
    
}
@media(min-width: 768px){
    .footer{
        height: 160px;
        
    }
    .footer p{
        font-size: 20px;
    }
    
    .footer, .marca-logo {
        font-size: 25px;
        padding: 10px 0;
        
    }
    
    h1{
        text-align: center;
        font-size: 30px;
        padding: 25px 10px 15px 10px;
    }
}