/* Estilos Generales del Html  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: sans-serif;
  background-color: wheat;
  height: auto;
  
}
h1{
  text-align: center;
  font-size: 40px;
  padding: 15px 15px 35px 5px;
}